.force-details{
  .prev-state{
    display: block;
  }
  .svg-icon{
    width: 50px;
    height: 50px;
    path{
      fill: #555;
    }
  }
  .header{
    height: 300px;
    background: #efefef;
    padding: 20px;
    box-sizing: border-box;
  }
  @media (min-width:768px){
    .header{
      width: 85%;
      margin: 0 auto;
      background: none;
      height: auto;
    }
  }
  .details-sm{
    position: absolute;
    top: 50px;
    text-align: center;
    .image{
      max-width: 100%;
    }
    .name{
      text-align: center;
    }
    .about{
      margin: 20px;
    }
  }
  .name{
    font-size: 52px;
    font-weight: bold;
    margin-bottom: 0;
  }
  .about{
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 1.3;
    font-weight: 600;
    margin-bottom: 50px;
  }
  @media (min-width: 768px){
    .details-sm{
      display: none;
    }
  }
  @media (max-width: 767px){
    .details-lg{
      display: none;
    }
  }
  .details-lg{
    position: relative;
    .image-box{
      display: inline-block;
    }
    .content-box{
      width: 60%;
      position: absolute;
      top: 25%;
      right: 20px;
      box-shadow: 2px 2px 8px 3px #eee;
      padding: 50px 100px;
      z-index: -1;
    }
  }
}
