<div class="hr"><hr /></div>
<h1>unlock the force</h1>
<h3>Please choose your character</h3>
<div class="character-container">
    <div class="character inline" align="center">
        <img class="activeCharacter" src=".\.\assets\images\starwars-bb-8.png" alt="star war face" height="145" width="150"/><br/>
        <input class="radio" type="radio" name="char" value="bb-8" checked="true" >
    </div>
    <div class="character inline" align="center">
        <img class="inactiveCharacter" src=".\.\assets\images\starwars-stormtrooper.png" alt="star war face" height="145" width="150"/><br/>
        <input class="radio" type="radio" name="char" value="stormtrooper">
    </div>
    <div class="character inline" align="center">
        <img class="inactiveCharacter" src=".\.\assets\images\starwars-r2-d2.png" alt="star war face" height="145" width="150"/><br/>
        <input class="radio"type="radio" name="char" value="r2-d2" />
    </div>
    <div class="character inline" align="center">
        <img class="inactiveCharacter" src=".\.\assets\images\starwars-darth-vader.png" alt="star war face" height="145" width="150"/><br/>
        <input class="radio" type="radio" name="char" value="darth-vader" />
    </div>
    <div class="character inline" align="center">
        <img class="inactiveCharacter" src=".\.\assets\images\starwars-c-3po.png" alt="star war face" height="145" width="150"/><br/>
        <input class="radio" type="radio" name="char" value="c-3po" />
    </div>
    <div class="character inline" align="center">
        <img class="inactiveCharacter" src=".\.\assets\images\starwars-boba-fett.png" alt="star war face" height="145" width="150"/><br/>
        <input class="radio" type="radio" name="char" value="boba-fett" />
    </div>
</div>
<div>
    <button id="btnDetails" class="main-button" (click)="redirect()" >SHOW DETAILS</button>
</div>