@charset "UTF-8";
h1, h2, h3 {
  margin: 0;
  font-family: Inconsolata, monospace; }

body {
  margin: 0px;
  padding: 0px;
  background-color: #f9f8f6;
  color: #5a5a5a; }

.login-container {
  width: 350px;
  margin: 0px auto;
  padding-bottom: 40px; }

.login-box-image img {
  width: 80%;
  display: table-cell;
  margin-left: auto;
  margin-right: auto; }

.login-form {
  border: 1px solid #979797;
  padding: 40px;
  margin-top: -41px;
  text-align: center;
  border-radius: 5px;
  background-color: #ffffff; }

.input-style, .login-form input[type=text], .login-form input[type=password] {
  font-size: 18px;
  padding: 10px;
  margin: 10px 0px;
  width: 91%; }

input::-webkit-input-placeholder {
  color: #d7d6d7; }

input:-moz-placeholder {
  color: #d7d6d7; }

input::-moz-placeholder {
  color: #d7d6d7; }

input:-ms-input-placeholder {
  color: #d7d6d7; }

.button-style, .login-form input[type=submit], form input[type=submit] {
  border: 0;
  font-size: 18px;
  padding: 15px 30px;
  cursor: pointer;
  font-family: Source Sans Pro, sans-serif;
  letter-spacing: 1px; }

.login-form input[type=submit] {
  color: #fff;
  background-color: #f55416;
  width: 100%; }

.character-container {
  height: 100vh;
  padding: 60px;
  background-color: #ffffff; }

.ch-h3 {
  color: #9e9e9e;
  margin-top: 20px;
  font-size: 25px; }

.top-border {
  background-color: #f6cf00;
  width: 200px;
  height: 10px;
  margin-bottom: 10px; }

.characters-list img {
  width: 150px;
  opacity: 0.6; }

form input[type=submit] {
  background-color: #f6cf00;
  color: #5a5a5a;
  margin-top: 50px; }

form label {
  cursor: pointer; }

.input-radio {
  left: 90px;
  position: relative;
  visibility: hidden; }

.radio span {
  position: relative;
  padding-left: 20px; }
  .radio span:after {
    content: '';
    width: 15px;
    height: 15px;
    border: 3px solid #523c5d;
    position: absolute;
    left: -112px;
    top: 1px;
    border-radius: 100%; }

.radio input[type="radio"]:checked + span:before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  background: #523c5d;
  left: -106.5px;
  top: 6px;
  border-radius: 100%; }

.radio input[type="radio"]:checked + img {
  opacity: 1; }

.detail-container {
  height: 100vh;
  padding: 60px;
  background-color: #ffffff; }

.go-back a {
  text-decoration: none;
  font-family: Source Sans Pro, sans-serif;
  font-size: 20px;
  color: #5a5a5a; }
  .go-back a:before {
    content: "← ";
    font-size: 30px; }

.details {
  display: inline-block; }

.detail-image {
  display: inline-block;
  float: left; }
  .detail-image img {
    margin-top: -160px;
    margin-left: 138px;
    z-index: 2; }

.detail-content {
  margin-left: 500px; }

.detail-content {
  width: 40%;
  margin-right: 200px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 2px 9px rgba(0, 0, 0, 0.22);
  padding: 60px; }
  .detail-content p {
    font-family: Source Sans Pro, sans-serif;
    letter-spacing: 0.8px;
    font-weight: 700; }
  .detail-content h1 {
    font-size: 60px;
    letter-spacing: 2px;
    text-transform: uppercase; }
