input:not(.ng-pristine) {
    &.ng-valid {
        border: 1px solid $green;
    }

    &.ng-invalid {
        border: 1px solid $red;
    }
}

.login-page {
    text-align: center;
    height: 100vh;
    background: #f4f4f4;
    .login-form-wrap {
      position: relative;
      width: 300px;
      margin: 0 auto;
    }
    @media (min-width:768px){
        .login-form-wrap {
          border: 1px solid #aaa;
          border-radius: 4px;
          padding: 20px;
          background: #fff;
          transform: translateY(20%);
        }
    }
    .login-img-wrap {
        width: 100%;

        img {
            width: 200px;
        }
    }
    .l-heading{
      margin-top: 0;
    }

    input{
      width: 100%;
      height: 60px;
      border: 1px solid #999;
      border-radius: 4px;
      margin-bottom: 20px;
      outline: none;
      padding: 10px 20px;
      font-size: 18spx;
      box-sizing: border-box;
      font-weight: 600;
    }
    .btn-login{
      width: 100%;
      background: #ff7043;
    }
    .error-message{
      color:$red;
      font-weight: 600;
      text-align: left;
      font-size: 15px;
      margin-bottom: 20px;
      display: block;
    }
}
