.force-list{
  h1{
    width: 85%;
    margin: 60px auto 30px;
  }
  .force-item{
    overflow-y: hidden;
    white-space: nowrap;
    height: 300px;
    overflow-x: visible;
    margin-bottom: 50px;
    width: 85%;
    margin-left: 15%;
    .item{
      width: 250px;
      height: 300px;
      display: inline-block;
      img{
        width: 250px;
        opacity: 0.5;
        &.active{
          opacity: 1;
        }
      }
    }
  }
  input[type="radio"]{
    visibility: hidden;
  }
  .btn-wrap{
    width: 85%;
    margin: 0 auto;
  }
  .btn-submit{
    background: $yellow;
    width: 320px;
    padding: 30px;
    font-size: 24px;
  }
}
