input:not(.ng-pristine).ng-valid {
  border: 1px solid #016936; }

input:not(.ng-pristine).ng-invalid {
  border: 1px solid #db2828; }

.login-page {
  text-align: center;
  height: 100vh;
  background: #f4f4f4; }
  .login-page .login-form-wrap {
    position: relative;
    width: 300px;
    margin: 0 auto; }
  @media (min-width: 768px) {
    .login-page .login-form-wrap {
      border: 1px solid #aaa;
      border-radius: 4px;
      padding: 20px;
      background: #fff;
      transform: translateY(20%); } }
  .login-page .login-img-wrap {
    width: 100%; }
    .login-page .login-img-wrap img {
      width: 200px; }
  .login-page .l-heading {
    margin-top: 0; }
  .login-page input {
    width: 100%;
    height: 60px;
    border: 1px solid #999;
    border-radius: 4px;
    margin-bottom: 20px;
    outline: none;
    padding: 10px 20px;
    font-size: 18spx;
    box-sizing: border-box;
    font-weight: 600; }
  .login-page .btn-login {
    width: 100%;
    background: #ff7043; }
  .login-page .error-message {
    color: #db2828;
    font-weight: 600;
    text-align: left;
    font-size: 15px;
    margin-bottom: 20px;
    display: block; }

.force-list .heading {
  width: 85%;
  margin: 60px auto 30px; }
  .force-list .heading .sub-heading {
    margin-top: 50px;
    color: #777; }

@media (max-width: 767px) {
  .force-list .heading .sub-heading {
    display: none; } }

.force-list .force-item {
  overflow-y: hidden;
  white-space: nowrap;
  height: 300px;
  overflow-x: visible;
  margin-bottom: 50px;
  width: 85%;
  margin-left: 15%; }
  .force-list .force-item .item {
    width: 250px;
    height: 300px;
    display: inline-block;
    margin-right: 25px; }
    .force-list .force-item .item img {
      width: 250px;
      opacity: 0.5;
      transition: all 300ms ease; }
      .force-list .force-item .item img.active {
        transition: all 300ms ease;
        opacity: 1; }

.force-list input[type="radio"] {
  visibility: hidden; }

.force-list .btn-wrap {
  width: 85%;
  margin: 0 auto; }

.force-list .btn-submit {
  background: #FBBD06;
  width: 320px;
  padding: 30px;
  font-size: 24px; }

@media (min-width: 768px) {
  .force-list .force-item {
    width: 90%;
    margin-left: 10%; } }

.force-details .prev-state {
  display: block; }

.force-details .svg-icon {
  width: 50px;
  height: 50px; }
  .force-details .svg-icon path {
    fill: #555; }

.force-details .header {
  height: 300px;
  background: #efefef;
  padding: 20px;
  box-sizing: border-box; }

@media (min-width: 768px) {
  .force-details .header {
    width: 85%;
    margin: 0 auto;
    background: none;
    height: auto; } }

.force-details .details-sm {
  position: absolute;
  top: 50px;
  text-align: center; }
  .force-details .details-sm .image {
    max-width: 100%; }
  .force-details .details-sm .name {
    text-align: center; }
  .force-details .details-sm .about {
    margin: 20px; }

.force-details .name {
  font-size: 52px;
  font-weight: bold;
  margin-bottom: 0; }

.force-details .about {
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 1.3;
  font-weight: 600;
  margin-bottom: 50px; }

@media (min-width: 768px) {
  .force-details .details-sm {
    display: none; } }

@media (max-width: 767px) {
  .force-details .details-lg {
    display: none; } }

.force-details .details-lg {
  position: relative; }
  .force-details .details-lg .image-box {
    display: inline-block; }
  .force-details .details-lg .content-box {
    width: 60%;
    position: absolute;
    top: 25%;
    right: 20px;
    box-shadow: 2px 2px 8px 3px #eee;
    padding: 50px 100px; }

body, input, button {
  font-family: 'Titillium Web', sans-serif; }

.btn {
  border: none;
  color: #fff;
  letter-spacing: 2px;
  padding: 20px;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase; }

.border {
  width: 150px;
  height: 10px;
  display: block;
  background: #FBBD06;
  margin-bottom: 10px; }
